# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

"atom-workspace":
    "ctrl-shift-w": "tabs:close-all-tabs"
    "ctrl-tab": "tab-switcher:next"
    "ctrl-tab ^ctrl": "unset!"
    "ctrl-shift-tab": "tab-switcher:previous"
    "ctrl-shift-tab ^ctrl": "unset!"
    # 'ctrl-pageup': 'pane:show-previous-item'
    # 'ctrl-pagedown': 'pane:show-next-item'
"ol.tab-switcher-tab-list":
    "^ctrl": "tab-switcher:select"
    "^shift": "tab-switcher:select"
    "ctrl-up": "tab-switcher:previous"
    "ctrl-down": "tab-switcher:next"
".editor":
    "ctrl-space": "autocomplete-plus:activate"